<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Basile Bayili</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/about">À propos</a>
        <a href="/projets">Projets</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

<footer>
        <p>© 2026 Basile Bayili — Dakar, Sénégal</p>
        <div class="footer-links">
        <a href="https://www.linkedin.com/in/bali-basile-bayili" target="_blank">LinkedIn</a>
        <a href="https://www.linkedin.com/in/bali-basile-bayili-88a2b6217" target="_blank">GitHub</a>
        <a href="mailto:basilebayili@gmail.com">Email</a>
    </div>
</footer>

</body>
</html>
